@font-face {
  font-family: "Basier Circle Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Basier Circle Regular"),
    url("./fonts/basier-cufonfonts-webfont/BasierCircle-Regular.woff")
      format("woff");
}

@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Regular"),
    url("./fonts/segoe-ui-4-cufonfonts-webfont/Segoe\ UI.woff") format("woff");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  /* color: var(--clr-text-primary-08); */
  box-sizing: border-box;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Basier Circle Regular";
  font-weight: 700;
  line-height: 1;
  /* color: var(--clr-text-primary-1); */
}

a,
p {
  font-size: 1.8rem;
}

a,
p,
span {
  font-family: "Segoe UI Regular";
}

/* Utility */
.font-face-gm {
  font-family: "Basier Circle Regular";
}
.flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 536px;
  margin: 0 auto;
}

/* Home */
.header {
  padding-top: 7.2rem;
  margin-bottom: 4rem;
}

.header h3 {
  font-size: 3.125rem;
  margin-bottom: 1.2rem;
}

.header p {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0;
}

.header span,
.details-header span {
  color: rgb(117, 128, 138);
}

.payment {
  margin-bottom: 2.4rem;
}

.payment > h4 {
  font-family: "Segoe UI Regular";
  font-size: 1.4rem;
  color: #75808a;
  margin-bottom: 1.6rem;
}

.payment-card h3 {
  font-weight: 500;
  font-size: 1.6rem;
}

.payment-card {
  background-color: #ffffff;
  padding: 1.2rem 1.6rem;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.payment-card p {
  font-weight: 600;
}

.payment-google button {
  background-color: black;
  padding: 8px 1.5rem;
  border-radius: 10px;
  border: none;
}

.payment-google button img {
  width: 12.2rem;
}

.btn-pay {
  font-size: 1.4rem;
  text-decoration: none;
  color: rgb(6, 102, 235);
  background-color: rgb(230, 240, 253);
  font-weight: 600;
  padding: 7px 30px;
  border-radius: 1rem;
}

.footer-primary {
  margin-bottom: 7.2rem;
}

.footer-primary p {
  color: rgb(117, 128, 138);
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1.3rem;
}

.footer-copyright img,
.footer-primary img {
  margin-inline: auto;
  margin-bottom: 1rem;
}

.footer-copyright p {
  text-align: center;
  color: rgb(117, 128, 138);
  font-size: 1.2rem;
}

.footer-copyright p span {
  color: rgb(6, 102, 235);
}

/* Payment Details */

.payment-form {
  margin-bottom: 7.2rem;
}

.payment-details {
  padding-top: 3rem;
  margin-bottom: 2.4rem;
}

.left-arrow {
  margin-bottom: 1.6rem;
  display: block;
}
.payment-details h1 {
  margin-bottom: 1.6rem;
}
.details-header h3 {
  font-size: 1.6rem;
}

.card-details {
  padding: 1.6rem;
  margin-bottom: 2.5rem;
  border-radius: 1.2rem;
  color: #75808a;
  background-color: #edeff2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 500ms all;
}

.card-details:hover {
  background-color: #dfe3e7;
}

.card-details-input {
  gap: 1rem;
}
.card-details-input input {
  border: none;
  background-color: transparent;
}
.card-details-input input:focus-visible {
  outline: none;
}

.pay-container {
  position: fixed;
  bottom: 3rem;
  left: 50%;
  max-width: 37.5rem;
  margin-inline: auto;
  transform: translateX(-50%);
}
.pay {
  font-family: "Basier Circle Regular";
  color: #ffffff;
  background-color: #0666eb;
  border-radius: 1.6rem;
  width: 37.5rem;
  padding: 1.2rem;
  border: none;
  cursor: pointer;
}
